.LoginForm {
    height: 100vh;
  }
  
  @media (min-width: 992px) {
    .container {
      width: 30%;
    }
  }
  
  @media (max-width: 991px) {
    .container {
      width: 100%;
    }
  }
button{
    background-color: #A99572 !important;
    border: none !important;
}
button:hover{
    background-color: #a9957296 !important;
}

.login form .forget-password{
   cursor: pointer !important;
}